@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #2e1b84;
}

.profile-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #2e1b84;
  color: #2e1b84;
}

.profile-left {
  background-color: #2e1b84;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  
}


.profile-image {
  width: 80%;
  width: 400px;
  height: 400px;
  transition: transform 0.3s ease;
  margin-top: 100px;
}

.profile-image:hover {
  transform: scale(1.05);
}

.profile-right {
  flex: 2;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease-in-out;
  margin-top: 60px;
}

.profile-right h2 {
  margin-bottom: 20px;
  color: #2e1b84;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-row input {
  flex: 1;
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border 0.3s ease;
  background-color: white;
  color: black;
}

.form-row input:focus {
  border-color: #2e1b84;
  outline: none;
}

.password-label {
  margin: 20px 0 10px;
  font-weight: 600;
  color: white;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}

.cancel-btn,
.save-btn {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cancel-btn {
  background-color: transparent;
  color: #2e1b84;
}

.cancel-btn:hover {
  text-decoration: underline;
}

.save-btn {
  background-color: #2e1b84;
  color: white;
}

.save-btn:hover {
  background-color: #23126d;
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }

  .profile-left,
  .profile-right {
    flex: none;
    width: 100%;
  }

  .form-row {
    flex-direction: column;
  }

  .form-buttons {
    flex-direction: column;
    align-items: stretch;
  }
}